<!DOCTYPE html>
<html>
  <head>
    <title>GpsApp3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center" style="margin-top: 20px">
    <%= yield %>
  </body>
</html>
